# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Model weights (DO NOT COMMIT)
smart_microscope/models/
*.pth
*.pt
*.onnx

# Datasets, outputs, logs
smart_microscope/CytoLabeled/
smart_microscope/outputs/
logs/
*.log

# OS / editor
.DS_Store
.vscode/

